* {
    margin: 0; padding: 0; border: 0; box-sizing: border-box;
}

body {
    background-image: url(Bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.godmother {
    border: 2px solid blueviolet;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: hsla(348, 58%, 73%, 0.205);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 30vh;
    padding: 2px;
    gap: 16px;

    border: 2px solid red;
    border-radius: 15px;
}

.texts {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}