* {
    margin: 0; padding: 0; border: 0; box-sizing: border-box;
}

.godmother {
    border: 2px solid blueviolet;
    width: 100%;
    min-height: 100vh;
}

.box {
    height: 300px;
    border: 2px solid red;
    flex-wrap: wrap;
}
